.header {
  margin: 0 200px;
  padding: 45px 0 0 0;
  height: 74px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 1023px) {
  .header {
    margin: 0;
    padding: 28px 0 0 0;
    height: 56px;
  }
}
