.header__underline {
  margin: calc(41px - 2px * 2) 0 0 0;
  padding: 0;
  border-color: #545454;
  opacity: 0.7;
}

@media screen and (max-width: 1023px) {
  .header__underline {
    margin-top: 26px;
  }
}
