.profile__info {
  margin: 0;
  padding: 0 30px;
  display: grid;
  height: min-content;
  align-self: center;
  row-gap: 16px;
  column-gap: 18px;
}

@media screen and (max-width: 1023px) {
  .profile__info {
    padding-top: 20px;
    row-gap: 14px;
    column-gap: 10px;
  }
}
